flask
Flask-Admin==1.6.1
WTForms==2.3.3 
Flask-SQLAlchemy==3.0.5
Flask-Login
flask-socketio
SQLAlchemy==1.4.48 
dotenv
psycopg2
flask-babel
Bcrypt
flask_bcrypt
flask_migrate
dbfread
pandas
Flask-WTF
openpyxl
cryptography
flask_talisman
email_validator