{% extends 'admin/model/create.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <i class="fa fa-plus"></i>
                    Создание нового пользователя
                </h1>
                <hr>
                
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <i class="fa fa-user-plus"></i>
                            Заполните данные пользователя
                        </h5>
                    </div>
                    <div class="card-body">
                        {{ super() }}
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="{{ url_for('user.index_view') }}" class="btn btn-secondary">
                                <i class="fa fa-arrow-left"></i>
                                Назад к списку
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('#last_name, #first_name').on('blur', function() {
                if (!$('#email').val()) {
                    var lastName = $('#last_name').val();
                    var firstName = $('#first_name').val();
                    if (lastName && firstName) {
                        var email = firstName.toLowerCase() + '.' + 
                                   lastName.toLowerCase() + '@company.com';
                        $('#email').val(email);
                    }
                }
            });
            
            $('#password').on('blur', function() {
                var password = $(this).val();
                if (password && password.length < 6) {
                    alert('Пароль должен содержать минимум 6 символов');
                }
            });
        });
    </script>
{% endblock %}