{% extends "base.html" %}
{% block title %}{{ _('FAQ') }} - ErespondentS{% endblock %}
{% block content %}

<div class="faq-container-page">
    <div class="faq-container">
        <div class="faq-header">
            <h1>Основы работы</h1>
            <p>3 вопросов</p>
        </div>

        <div class="faq-item">
            <div class="faq-question">Что такое ErespondentS?</div>
            <div class="faq-answer">
                <div class="faq-answer-content">
                    ErespondentS — это автоматизированное рабочее место для представления планов мероприятий по энергосбережению.
                </div>
            </div>
        </div>
        <hr>
        <div class="faq-item">
            <div class="faq-question">Какие основные функции доступны в системе?</div>
            <div class="faq-answer">
                <div class="faq-answer-content">
                    -
                </div>
            </div>
        </div>
        <hr>
        <div class="faq-item">
            <div class="faq-question">Как начать работу с системой?</div>
            <div class="faq-answer">
                <div class="faq-answer-content">
                    -
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}