{% extends "base.html" %}
{% block title %}{{ _('Регистрация - ErespondentS') }}{% endblock %}
{% block content %}

<div class="auth-page">
  <div class="auth-text-upper">
    <div class="auth-title" onclick="window.location.href='/login'">
      <img src="/static/img/Logo-black.png" alt="">
      <a>ErespondentS</a>
    </div>
    <p class="auth-subtitle">{{ _(' Система представления планов энергосберегающих <br> мероприятий') }}
    </p>
  </div>

  <form class="steps-wrapper" method="POST">
    <!-- Шаг 1 -->
    <div class="step auth-step-1 active auth-container">
      <div class="auth-container-title">{{ _('Заполнение личной информации') }}</div>
      <div class="auth-choose" style="justify-content: center;" role="tablist">
        <a class="auth-tab active wave-effect" role="tab" style="width: 100%;" aria-selected="true">
          {{ _('Шаг 1') }}
        </a>
      </div>
      <div class="auth-form" id="form-part-1">
        <div class="row-form-group">
          <div class="form-group">
            <label>{{ _('Фамилия') }}</label>
            <input type="text" name="last_name" id="secondname" maxlength="15" value="" placeholder="{{ _('Иванов') }}" class="auth-input" required>
          </div>
          <div class="form-group">
            <label>{{ _('Имя') }}</label>
            <input type="text" name="first_name" id="name" maxlength="15" value="" placeholder="{{ _('Иван') }}" class="auth-input" required>
          </div>
        </div>
        <div class="form-group">
          <label>{{ _('Отчество') }}</label>
          <input type="text" name="patronymic_name" id="patronymic" maxlength="15" placeholder="{{ _('Иванович') }}" class="auth-input">
        </div>
        <div class="form-group">
          <label for="phone">{{ _('Телефон') }}</label>
          <input type="tel" name="phone" id="phone" maxlength="13" value="" placeholder="{{ _('Введите номер телефона') }}" class="auth-input" required>
        </div>
        <div class="form-group">
          <label>{{ _('Должность (необязательно)') }}</label>
          <input type="text" name="post" id="post" maxlength="35" placeholder="{{ _('Инженер-энергетик') }}" class="auth-input">
        </div>   
        <div class="button-auth-area">
          <button type="button" class="auth-next-button" id="next-btn">
            <span class="btn-text">{{ _('Далее') }}</span>
            <img src="/static/img/Next.svg" alt="" class="btn-icon">
          </button>
        </div>
      </div>
    </div>

    <!-- Шаг 2 -->
    <div class="step auth-step-2 auth-container" style="display: none;">
      <div class="auth-container-title">{{ _('Выбор организации') }}</div>

      <div class="auth-choose" style="justify-content: center;" role="tablist">
        <a class="auth-tab active wave-effect" role="tab" style="width: 100%;" aria-selected="true">
          {{ _('Шаг 2') }}
        </a>
      </div>

      <div class="auth-form" id="form-part-2">
        <div class="form-group organization-select">
          <label>{{ _('Организация') }}</label>
          <div class="input-with-icon organization-search-container">
            <img src="/static/img/Search_gray.svg" alt="" class="input-icon">
            <input type="text" 
                  data-action="search-organization" 
                  id="organization-search"
                  placeholder="{{ _('Наименование или ОКПО') }}" 
                  class="app-input" 
                  required
                  autocomplete="off">
            
            <div class="organizations-dropdown" id="organizations-dropdown" style="display: none;">
              <div class="organizations-list" id="organizations-list">

              </div>
              <div class="organizations-loading" id="organizations-loading" style="display: none;">
                {{ _('Загрузка...') }}
              </div>
              <div class="organizations-more" id="organizations-more" style="display: none;">
                <button type="button" id="load-more-organizations">{{ _('Загрузить еще') }}</button>
              </div>
            </div>
          </div>

          <input type="hidden" name="organization_id" id="organization_id">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="button-auth-area">
            <button
              type="submit"
              class="auth-button"
              id="submit-btn"
              disabled>
              <img src="/static/img/Sign.svg" alt="" class="btn-icon">
              <span class="btn-text">{{ _('Зарегистрироваться') }}</span>
            </button>
          </div>

          <div class="button-auth-area" style="text-align: start; margin-top: 10px;">
            <button type="button" class="auth-next-button" id="prev-btn">
              <img src="/static/img/Back.svg" alt="" class="btn-icon">
              <span class="btn-text">{{ _('Назад') }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}