{% extends "base.html" %}
{% block title %}{{ _('Заполнение личных параметров - ErespondentS') }}{% endblock %}
{% block content %}

<div class="auth-page">
  <div class="auth-text-upper">
    <div class="auth-title" onclick="window.location.href='/login'">
      <img src="/static/img/Logo-black.png" alt="">
      <a>ErespondentS</a>
    </div>
    <p class="auth-subtitle">{{ _(' Система представления планов энергосберегающих <br> мероприятий') }}
     
    </p>
  </div>

  <form class="steps-wrapper" method = "POST">
    <!-- Шаг 1 -->
    <div class="step auth-step-1 active auth-container">
      <div class="auth-container-title">{{ _('Заполнение личной информации') }}</div>
      <div class="auth-choose" style="justify-content: center;" role="tablist">
        <a class="auth-tab active wave-effect" role="tab" style="width: 100%;" aria-selected="true">
          {{ _('Шаг 1') }}
        </a>
      </div>
      <div class="auth-form" id="form-part-1">
        <div class="row-form-group">
          <div class="form-group">
            <label>{{ _('Фамилия') }}</label>
            <input type="text" id="secondname" maxlength="15" value = "1" placeholder="{{ _('Иванов') }}" class="auth-input">
          </div>
          <div class="form-group">
            <label>{{ _('Имя') }}</label>
            <input type="text" id="name" maxlength="15" value = "1" placeholder="{{ _('Иван') }}" class="auth-input">
          </div>
        </div>
        <div class="form-group">
          <label>{{ _('Отчество') }}</label>
          <input type="text" id="patronymic" maxlength="15" placeholder="{{ _('Иванович') }}" class="auth-input">
        </div>
        <div class="form-group">
          <label for="phone">{{ _('Телефон') }}</label>
          <input type="tel" id="phone" maxlength="13" value = "1" placeholder="{{ _('Введите номер телефона') }}" class="auth-input">
        </div>
        <div class="form-group">
          <label>{{ _('Должность (необязательно)') }}</label>
          <input type="text" id="post" maxlength="35" placeholder="{{ _('Инженер-энергетик') }}" class="auth-input">
        </div>   
        <div class = "button-auth-area">
            <button type="button" class="auth-next-button" id="next-btn">
                <span class="btn-text">{{ _('Далее') }}</span>
                <img src="/static/img/Next.svg" alt="" class="btn-icon">
            </button>
        </div>
      </div>
    </div>

    <!-- Шаг 2 -->
    <div class="step auth-step-2 auth-container" style="min-height: 500px;">
      <div class="auth-container-title">{{ _('Выбор организации') }}</div>

      <div class="auth-choose" style="justify-content: center;" role="tablist">
        <a class="auth-tab active wave-effect" role="tab" style="width: 100%;" aria-selected="true">
          {{ _('Шаг 2') }}
        </a>
      </div>

      <div class="auth-form" id="form-part-2">
        <div class="form-group organization-select">
          <label>{{ _('Организация') }}</label>

          <!-- Поле поиска -->
          <div class="input-with-icon">
            <img src="/static/img/Search_gray.svg" alt="" class="input-icon">
            <input
              type="text"
              placeholder="Поиск"
              class="app-input"
              data-action="search-organization"
            >
          </div>

          <!-- Таблица организаций -->
          <div class="organization-dropdown">
            <table class="organizations-table" data-action="organization-table">
              <thead>
                <tr>
                  <th>{{ _('Наименование') }}</th>
                  <th>{{ _('ОКПО') }}</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>

          <!-- Кнопка регистрации -->
          <button
            type="submit"
            class="auth-button"
            id="register-btn"
            data-action="submit"
            disabled
          >
            <img src="/static/img/Sign.svg" alt="" class="btn-icon">
            <span class="btn-text">{{ _('Зарегистрироваться') }}</span>
          </button>

          <!-- Скрытое поле с ID выбранной организации -->
          <input type="hidden" name="organization_id" data-action="selected-org">

          <!-- Кнопка "Назад" -->
          <div class="button-auth-area" style="text-align: start; margin-top: 10px;">
            <button type="button" class="auth-next-button" id="prev-btn">
              <img src="/static/img/Back.svg" alt="" class="btn-icon">
              <span class="btn-text">{{ _('Назад') }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>  

<script>

</script>
{% endblock %}
