{% extends "base.html" %}
{% block title %}{{ _('Мероприятия') }} - ErespondentS{% endblock %}
{% block content %}

<div class="pers-page-with-table">
    <div class="personal-plan-conteiner">
        <div class="menu-conteiner">
            <div class="element {% if plan.is_sent or plan.is_approved %}non{% endif %}" id = "AddEventModalButton">
                <img src="/static/img/Add.svg" alt="">  
                <a class="element-text">Добавить</a>  
            </div>
            <div class="element {% if plan.is_sent or plan.is_approved %}non{% endif %}" id="tableDeleteButton">
                <img src="/static/img/Delete.svg" alt="">  
                <a class="element-text">Удалить</a>  
            </div>
            <div class="element {% if plan.is_sent or plan.is_approved %}non{% endif %}" id="tableEditButton">
                <img src="/static/img/Edit_black.svg" alt="">  
                <a class="element-text">Редакт.</a>  
            </div>
        </div>      
        <div class = "table-container">
            <table class="main-table" id="eventsTable">
                <thead class="main-table-titels">
                    <tr>
                        <th rowspan="3" class="resizable" style="white-space: nowrap;">
                            <a>№ п/п</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable">
                            <a>Код основных направлений энергосбережения в соответствии с формой 4-энерго-сбережение</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable">
                            <a>Наименование мероприятий, работ</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable vertical-text">
                            <a>Единицы измерения</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable vertical-text">
                            <a>Объем внедрения, ед.</a>
                            <div class="resizer"></div>
                        </th>
                        <th colspan="2" class="resizable">
                            <a>Условно-годовой экономический эффект</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable vertical-text">
                            <a>Ожидаемый срок внедрения мероприятия, квартал</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable vertical-text" style = "min-width: 125px;">
                            <a>Ожидаемый экономический эффект от внедрения мероприятия в текущем году, т у.т.</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable vertical-text">
                            <a>Срок окупаемости, лет</a>
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="3" class="resizable vertical-text">
                            <a>Объем финансирования, руб.</a>
                            <div class="resizer"></div>
                        </th>
                        <th colspan="7" class="resizable">
                            <a>в том числе по источникам финансирования, руб.</a>
                            <div class="resizer"></div>
                        </th>
                    </tr>
                    <tr>
                        <th rowspan="2" class="resizable vertical-text">
                            т у.т.
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="2" class="resizable vertical-text">
                            руб.
                            <div class="resizer"></div>
                        </th>
                        <th colspan="4" class="resizable">
                            бюджетные
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="2" class="resizable vertical-text">
                            собственные средства организации
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="2" class="resizable vertical-text">
                            кредиты банков, займы
                            <div class="resizer"></div>
                        </th>
                        <th rowspan="2" class="resizable vertical-text">
                            Иные
                            <div class="resizer"></div>
                        </th>
                    </tr>
                    <tr>
                        <th class="resizable vertical-text">
                            республиканский бюджет на финасирование госпрограммы
                            <div class="resizer"></div>
                        </th>
                        <th class="resizable vertical-text">
                            республиканский бюджет
                            <div class="resizer"></div>
                        </th>
                        <th class="resizable vertical-text">
                            местный бюджет
                            <div class="resizer"></div>
                        </th>
                        <th class="resizable vertical-text">
                            другие
                            <div class="resizer"></div>
                        </th>
                    </tr>
                    <tr>
                        <th class="resizable">1<div class="resizer"></div></th>
                        <th class="resizable">2<div class="resizer"></div></th>
                        <th class="resizable">3<div class="resizer"></div></th>
                        <th class="resizable">4<div class="resizer"></div></th>
                        <th class="resizable">5<div class="resizer"></div></th>
                        <th class="resizable">6<div class="resizer"></div></th>
                        <th class="resizable">7<div class="resizer"></div></th>
                        <th class="resizable">8<div class="resizer"></div></th>
                        <th class="resizable">9<div class="resizer"></div></th>
                        <th class="resizable">10<div class="resizer"></div></th>
                        <th class="resizable">11<div class="resizer"></div></th>
                        <th class="resizable">12<div class="resizer"></div></th>
                        <th class="resizable">13<div class="resizer"></div></th>
                        <th class="resizable">14<div class="resizer"></div></th>
                        <th class="resizable">15<div class="resizer"></div></th>
                        <th class="resizable">16<div class="resizer"></div></th>
                        <th class="resizable">17<div class="resizer"></div></th>
                        <th class="resizable">18<div class="resizer"></div></th>
                    </tr>
                </thead>
                <tr class="group-header" data-target="non-local-content">
                    <td colspan="18">
                        <div class="group-header-content">
                            <svg class="dropdown-arrow" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L6 6L11 1" stroke="#666" stroke-width="2" stroke-linecap="round"></path>
                            </svg>  
                            <span>2.1 Мероприятия по экономии ТЭР (первоначальная ред.)</span>
                        </div>
                    </td>
                </tr>
                <tbody class = "rows" id="non-local-content">
                    {% if non_local_econ_execes %}
                        {% for row in non_local_econ_execes %}
                            <tr class = "menu-row" data-id="{{ row.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ row.econ_measures.direction.code }}</td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.econ_measures.direction.unit.name }}</td>
                                <td>{{ row.Volume }}</td>
                                <td>{{ row.EffTut }}</td>
                                <td>{{ row.EffRub }}</td>
                                <td>{{ row.ExpectedQuarter }}</td>
                                <td>{{ row.EffCurrYear }}</td>
                                <td>{{ row.Payback }}</td>
                                <td>{{ row.VolumeFin }}</td>
                                <td>{{ row.BudgetState }}</td>
                                <td>{{ row.BudgetRep }}</td>
                                <td>{{ row.BudgetLoc }}</td>
                                <td>{{ row.BudgetOther }}</td>
                                <td>{{ row.MoneyOwn }}</td>
                                <td>{{ row.MoneyLoan }}</td>
                                <td>{{ row.MoneyOther }}</td>
                            </tr>
                        {% endfor %}  
                        <tr class="total-row" >
                            <td style="text-align: left; padding-left: 60px;" colspan="4">Итого по разделу:</td>
                            <td style = "text-align: end;">{{ non_local_econ_execes|sum(attribute='Volume')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='EffTut')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='EffRub')|default(0)|round(3)}}</td>
                            <td>-</td>
                            <td>{{ non_local_econ_execes|sum(attribute='EffCurrYear')|default(0)|round(3) }}</td>
                            <td>-</td>
                            <td>{{ non_local_econ_execes|sum(attribute='VolumeFin')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='BudgetState')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='BudgetRep')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='BudgetLoc')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='BudgetOther')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='MoneyOwn')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='MoneyLoan')|default(0)|round(3)}}</td>
                            <td>{{ non_local_econ_execes|sum(attribute='MoneyOther')|default(0)|round(3)}}</td>
                        </tr>
                    {% else %}  
                    <tr class="no-results-row">
                        <td colspan="18">Отсутствуют мероприятия по экономии ТЭР</td>
                    </tr>
                    {% endif %} 
                </tbody>
                <tr class="group-header" data-target="local-content">
                    <td colspan="18">
                        <div class="group-header-content">
                            <svg class="dropdown-arrow" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L6 6L11 1" stroke="#666" stroke-width="2" stroke-linecap="round"></path>
                            </svg>  
                            <span>3.1 Мероприятия по увеличению использования местных ТЭР (первоначальная ред.)</span>
                        </div>
                    </td>
                </tr>
                <tbody class = "rows" id="local-content">
                    {% if local_econ_execes %}
                        {% for row in local_econ_execes %}
                            <tr class = "menu-row" data-id="{{ row.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ row.econ_measures.direction.code }}</td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.econ_measures.direction.unit.name }}</td>
                                <td>{{ row.Volume }}</td>
                                <td>{{ row.EffTut }}</td>
                                <td>{{ row.EffRub }}</td>
                                <td>{{ row.ExpectedQuarter }}</td>
                                <td>{{ row.EffCurrYear }}</td>
                                <td>{{ row.Payback }}</td>
                                <td>{{ row.VolumeFin }}</td>
                                <td>{{ row.BudgetState }}</td>
                                <td>{{ row.BudgetRep }}</td>
                                <td>{{ row.BudgetLoc }}</td>
                                <td>{{ row.BudgetOther }}</td>
                                <td>{{ row.MoneyOwn }}</td>
                                <td>{{ row.MoneyLoan }}</td>
                                <td>{{ row.MoneyOther }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="total-row">
                            <td style="text-align: left; padding-left: 60px;" colspan="4">Итого по разделу:</td>
                            <td style = "text-align: end;">{{ local_econ_execes|sum(attribute='Volume')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='EffTut')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='EffRub')|default(0)|round(3)}}</td>
                            <td>-</td>
                            <td>{{ local_econ_execes|sum(attribute='EffCurrYear')|default(0)|round(3) }}</td>
                            <td>-</td>
                            <td>{{ local_econ_execes|sum(attribute='VolumeFin')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='BudgetState')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='BudgetRep')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='BudgetLoc')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='BudgetOther')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='MoneyOwn')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='MoneyLoan')|default(0)|round(3)}}</td>
                            <td>{{ local_econ_execes|sum(attribute='MoneyOther')|default(0)|round(3)}}</td>
                        </tr>
                    {% else %}
                    <tr class="no-results-row">
                        <td colspan="18">Отсутствуют мероприятия по увеличению использования местных ТЭР</td>
                    </tr>
                    {% endif %}
                </tbody>
                <tr class="group-header" data-target="other-content">
                    <td colspan="18">
                        <div class="group-header-content">
                            <svg class="dropdown-arrow" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L6 6L11 1" stroke="#666" stroke-width="2" stroke-linecap="round"></path>
                            </svg>  
                            <span>Другое</span>
                        </div>
                    </td>
                </tr>
                <tbody id="other-content">
                    <tr>
                        <td></td>
                        <td >Всего:</td>
                        <td colspan="2"></td>
                     
                        <td>{{ econ_exec|sum(attribute='Volume')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='EffTut')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='EffRub')|default(0)|round(3)}}</td>
                        <td>-</td>
                        <td>{{ econ_exec|sum(attribute='EffCurrYear')|default(0)|round(3)}}</td>
                        <td>-</td>
                        <td>{{ econ_exec|sum(attribute='VolumeFin')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='BudgetState')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='BudgetRep')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='BudgetLoc')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='BudgetOther')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='MoneyOwn')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='MoneyLoan')|default(0)|round(3)}}</td>
                        <td>{{ econ_exec|sum(attribute='MoneyOther')|default(0)|round(3)}}</td>
                    </tr>
                    {% set periods = [
                        ('Январь-Март', 'jan_mar_eff', 'jan_mar_vol'),
                        ('Январь-Июнь', 'jan_jun_eff', 'jan_jun_vol'),
                        ('Январь-Сентябрь', 'jan_sep_eff', 'jan_sep_vol'),
                        ('Январь-Декабрь', 'jan_dec_eff', 'jan_dec_vol')
                    ] %}

                    {% for period_name, eff_key, vol_key in periods %}
                    <tr>
                        <td></td>
                        <td>{{ period_name }}</td>
                        <td colspan="6"></td>
                        <td>{{ total_metrics[eff_key]|default('0.000') }}</td>
                        <td></td>
                        <td>{{ total_metrics[vol_key]|default('0.000') }}</td>
                        <td colspan="7"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}