{% extends "base.html" %}
{% block title %}{{ _('Личный кабинет') }} - ErespondentS{% endblock %}
{% block content %}

<div class="pers-page">
    <div class="personal-acc-conteiner">
        <a class="name">{{ _('Личный кабинет') }}</a>
        <div class="short-acc-info">
            <div class="circle-fi">{{ current_user.first_name[:1] | upper }}{{ current_user.last_name[:1] | upper }}</div>
            <div class="employee-card">
                <a class="employee-name">{{ current_user.first_name}} {{ current_user.last_name}}</a>
                <a class="employee-position">{{ current_user.post}}</a>
                <a class="employee-company">

                    {% if current_user.organization %}
                        {{ current_user.organization.name }}

                    {% elif current_user.ministry %}
                        {{ current_user.ministry.name }}
                        
                    {% elif current_user.region %}
                        {{ current_user.region.name }}
                    {% endif %}
                
                </a>
            </div>
        </div>
        <hr>
        <a class="sername">{{ _('Данные пользователя') }}</a>
        <form id="editprofileForm" method="POST" action="{{ url_for('auth.edit_param') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="row-app-group">
                <div class="app-group">
                    <label>{{ _('Фамилия *') }}</label>
                    <div class="input-with-icon">
                        <img src="/static/img/Account.svg" alt="" class="input-icon">
                        <input type="text" name="last_name" maxlength="30" value="{{current_user.last_name}}" 
                            placeholder="{{ _('Введите фамилию') }}" class="app-input" required>
                    </div>
                </div>
                <div class="app-group">
                    <label>{{ _('Имя *') }}</label>
                    <div class="input-with-icon">
                        <img src="/static/img/Account.svg" alt="" class="input-icon">
                        <input type="text" name="first_name" maxlength="30" value="{{current_user.first_name}}" class="app-input" placeholder="{{ _('Введите Имя') }}" required>
                    </div>
                </div>
            </div>
            <div class="app-group">
                <label>{{ _('Отчество') }}</label>
                <div class="input-with-icon">
                    <img src="/static/img/Account.svg" alt="" class="input-icon">
                    <input type="text" maxlength="30" name = "patronymic_name" value="{{current_user.patronymic_name}}" placeholder="{{ _('Введите отчество') }}" class="app-input" required>
                </div>
            </div> 
            <div class="app-group">
                <label>{{ _('Email *') }}</label>
                <div class="input-with-icon">
                    <img src="/static/img/Email.svg" alt="" class="input-icon">
                    <input type="text" maxlength="" value="{{current_user.email}}" placeholder="{{ _('Введите email') }}" class="app-input" readonly>
                    <div class="input-mes" title = "{{ _('Не изм.') }}">
                        <img src="/static/img/Edit_off.svg">
                        
                    </div>
                </div>
            </div>
            <div class="app-group">
                <label>{{ _('Телефон *') }}</label>
                <div class="input-with-icon">
                    <img src="/static/img/Phone.svg" alt="" class="input-icon">
                    <input type="text" maxlength="13" name = "phone" value="{{current_user.phone}}" placeholder="Введите номер телефона" class="app-input" required>
                </div>
            </div>
            <div class="app-group">
                <label>{{ _('Должность') }}</label>
                <div class="input-with-icon">
                    <img src="/static/img/Account.svg" alt="" class="input-icon">
                    <input type="text" maxlength="25" name = "post" value="{{ current_user.post }}" placeholder="{{ _('Введите должность') }}" class="app-input">
                </div>
            </div>
            <div class="button-area">
                <button type="button" class="submit-button" id="editprofileButton"
                        style="{% if not can_change_modal or current_user.is_auditor %}display:none;{% endif %}">
                    <img src="/static/img/Add_wh.svg" alt="" class="btn-icon">
                    <span class="btn-text">{{ _('Применить изменения') }}</span>
                </button>
            </div>
        </form>
        <hr>                
        <a class="sername">{% if current_user.is_auditor %}{{ _('Региональное управление') }}{% else %}{{ _('Данные отчитывающегося субъекта') }}{% endif %}</a>
        {% if current_user.organization %}
        <div class = "profile-org">
            <div class="row-app-group">
                    <div class="app-group">
                        <label>{{ _('Организация *') }}</label>
                        <div class="input-with-icon">
                            <img src="/static/img/Organization.svg" alt="" class="input-icon">
                            <input type="text" value="{{ current_user.organization.name }}"  readonly class="app-input">
                        </div>
                    </div>
                {% if current_user.is_auditor %}     
                {% else %}
                    <div class="app-group">
                        <label>{{ _('ОКПО') }}</label>
                        <div class="input-with-icon">
                            <img src="/static/img/Organization.svg" alt="" class="input-icon">
                            <input type="text" id="name" placeholder="Номер окпо" value="{{ current_user.organization.okpo }}" readonly class="app-input">
                            <div class="input-mes" title = "{{ _('Не изм.') }}">
                                <img src="/static/img/Edit_off.svg">
                            </div>
                        </div>
                    </div>   
                {% endif %}
            </div>
        </div>
        {% elif current_user.ministry %}
            <div class = "profile-min">
                <div class="app-group">
                    <label>{{ _('Министерство *') }}</label>
                    <div class="input-with-icon">
                        <img src="/static/img/Organization.svg" alt="" class="input-icon">
                        <input type="text" value="{{ current_user.ministry.name }}"  readonly class="app-input">
                    </div>
                </div>
            </div>
        {% elif current_user.region %}
            <div class = "profile-reg">
                <div class="app-group">
                    <label>{{ _('Регион *') }}</label>
                    <div class="input-with-icon">
                        <img src="/static/img/Organization.svg" alt="" class="input-icon">
                        <input type="text" value="{{ current_user.region.name }}"  readonly class="app-input">
                    </div>
                </div>
            </div>
        {%endif%}
        <div class="button-area">
            <button id="orgUserbutton" type="button" class="submit-button"
                    style="{% if not can_change_modal or current_user.is_auditor %}display:none;{% endif %}">
                <img src="/static/img/Edit.svg" alt="" class="btn-icon">
                <span class="btn-text">{{ _('Изменить субъект') }}</span>
            </button>
        </div>


        <hr>
        <a class="sername">{{ _('Прочая информация') }}</a>
        <div class = "support-txt-cont">
            <p class="row">Наименование * — обязательные поля для заполнения/выбора</p>
            <div class="row">
                <div class="input-mes-test" title="Не изм.">
                    <img src="/static/img/Edit_off.svg">
                </div> 
                <p>&nbsp; — поля не подлежащие редактированию</p>
            </div> 
        </div>
        <div>
            <div class="no-input"> 
                <img src="/static/img/Calendar_gray.svg" alt="" >
                <a>{{ _('Дата регистрации') }}: {{ current_user.begin_time.strftime('%d-%m-%Y') }}</a>
            </div>
            <div class="no-input"> 
                <img src="/static/img/Account_grey.svg" alt="" >
                <a>{{ _('Id пользователя') }}: demo{{ current_user.id }}</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}