{% extends "base.html" %}
{% block title %}{{ _('Регистрация') }} - ErespondentS{% endblock %}
{% block content %}

<div class="auth-page">
    <div class="auth-text-upper">
        <h1 class="auth-title">ErespondentS</h1>
        <p class="auth-subtitle">{{ _('Система представления планов энергосберегающих <br> мероприятий') }}</p>
    </div>
    <div class="auth-container">
        <div class="auth-container-title">{{ _('Вход в систему') }}</div>

        <div class="auth-choose" role="tablist">
            <a class="auth-tab" href="/login" role="tab" aria-selected="true">{{ _('Вход') }}</a>
            <a class="auth-tab active" href="/sign" role="tab" aria-selected="false">{{ _('Регистрация') }}</a>
        </div>

        <form class="auth-form">
            <div class="form-group">
                <label for="email">{{ _('Email') }}</label>
                <input type="email" id="email" value="" placeholder="you@gmail.com" class="auth-input">
            </div>
            
            <div class="form-group">
                <label for="password">{{ _('Пароль') }}</label>
                <div class="password-input-wrapper">
                    <input type="password" id="password" maxlength="10" placeholder="Введите пароль" class="auth-input">
                    <button type="button" class="toggle-password" aria-label="Показать пароль">
                    <img src="/static/img/Show_pass.svg" alt="" class="eye-icon eye-visible">
                    <img src="/static/img/UnShow_pass.svg" alt="" class="eye-icon eye-hidden" style="display: none;">
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label for="password">{{ _('Подтвердить пароль') }}</label>
                <div class="password-input-wrapper">
                    <input type="password" id="password" maxlength="10" placeholder="Введите пароль" class="auth-input">
                    <button type="button" class="toggle-password" aria-label="Показать пароль">
                    <img src="/static/img/Show_pass.svg" alt="" class="eye-icon eye-visible">
                    <img src="/static/img/UnShow_pass.svg" alt="" class="eye-icon eye-hidden" style="display: none;">
                    </button>
                </div>
            </div>
            <button type="button" class="auth-button" onclick="window.location.href='/kod'">

                <img src="/static/img/Sign.svg" alt="" class="btn-icon">
                <span class="btn-text">{{ _('Зарегистрироваться') }}</span>
            </button>
        </form>
    </div>
</div>

{% endblock %}